# This feature is in Beta.

# Please report any bugs to support@astronomer.io

# NOTE: If putting a dict in conn_extra, please wrap in single quotes.

# More details you can find https://github.com/astronomer/docs/blob/master/v0.10/cli-airflow-configuration.md

airflow:
  connections:
    - conn_id: analytics_redshift
      conn_type: postgres
      conn_host: {{(datasource "analytics_creds").host}}
      conn_schema: analytics
      conn_login: {{(datasource "analytics_creds").username}}
      conn_password: {{(datasource "analytics_creds").password}}
      conn_port: {{(datasource "analytics_creds").port}}
      conn_extra:
    - conn_id: ab_platform_frontend
      conn_type: postgres
      conn_host: {{(datasource "frontend_creds").host}}
      conn_schema: analytics
      conn_login: {{(datasource "frontend_creds").username}}
      conn_password: {{(datasource "frontend_creds").password}}
      conn_port: {{(datasource "frontend_creds").port}}
      conn_extra:

  pools:
    - pool_name: data_pool
      pool_slot: 5
      pool_description: Pool for the data group
  variables:
    - variable_name:
      variable_value:
