flake8==3.6.0
apache-airflow==1.10.2
scikit-learn==0.20.0
s3transfer==0.1.13
pickleshare==0.7.4
ipython==6.5.0
SQLAlchemy==1.2.11
redis==2.10.6
PyYAML==3.13
psycopg2==2.7.5
psycopg2-binary==2.7.5
pandas==0.23.4
botocore==1.12.4
boto3==1.9.4
six==1.11.0
docutils==0.14
python-json-logger==0.1.9
python-dateutil==2.7.3
scipy==1.1.0
numpy==1.15.1
pytz==2018.5
kubernetes==8.0.1
great_expectations==0.4.5
