WITH school_with_10_ts_verified_since_may AS (
    SELECT 
        schoolid, 
        COUNT(DISTINCT teacherid) AS ts_verified_since_may
    FROM 
        cache.teacher 
    WHERE 
        verifiedinschoolat >= DATE('2020-05-01')
        AND verifiedinschoolat <= '%(ds)s'::TIMESTAMP
    GROUP BY 
        schoolid
    HAVING 
        ts_verified_since_may >= 10
), results AS (
  SELECT
    pop.experiment_id
  , pop.entity_id
  , pop.variant
  , pop.entered_at
  , CASE 
      WHEN school_with_10_ts_verified_since_may.schoolid IS NOT NULL THEN 1
      WHEN school_with_10_ts_verified_since_may.schoolid IS NULL THEN 0
    END AS outcome
  FROM %(table_name)s AS pop
  LEFT JOIN school_with_10_ts_verified_since_may
    ON school_with_10_ts_verified_since_may.schoolid = pop.entity_id
  WHERE pop.entered_at <= '%(ds)s'::TIMESTAMP
)

SELECT
  experiment_id
, variant
, '%(metric_name)s' AS metric_name
, 'PROPORTIONAL' AS metric_type
, 'any' AS segment
, '%(ds)s'::TIMESTAMP AS day
, SUM(outcome) AS numerator
, COUNT(entity_id) AS denominator
, SUM(outcome)::FLOAT / COUNT(entity_id) AS mean
, STDDEV(outcome) AS standard_deviation
FROM results
GROUP BY 1,2,3,4,5,6

