pyyaml==3.12
invoke==0.14.0
tensorflow==1.0.0
nltk==3.2.1
sqlalchemy==1.1.2
pytest==3.0.3
pytest-mock==1.5.0
mock==2.0.0
git+git://github.com/google/python-fire.git@v0.1.1
defusedxml==0.4.1
beautifulsoup4==4.6.0
google-cloud-storage==1.6.0
google-cloud-logging==1.4.0
dogpile.cache==0.6.4
lru-dict==1.1.6
sympy==1.1.1
