version: 2

jobs:
  build_and_test:
    docker:
      - image: docker:18.06.1-ce-git
    working_directory: ~/CircleCI/docker-airflow
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - run:
          name: Build docker image
          command: |
            docker build -t puckel/docker-airflow .
      - run:
          name: Test Python version
          command: |
            docker run puckel/docker-airflow python -V | grep '3.7'
      - run:
          name: Test docker image
          command: |
            docker run puckel/docker-airflow version |grep '1.10.4'
workflows:
  version: 2
  build_and_test:
    jobs:
      - build_and_test
