WITH subscriber_data AS (
SELECT
  entityid,
  MIN(date_trunc('day', createdat)) AS first_creation_day

FROM frog.purchases
--WHERE --we want all new trials no matter whether they translated to subs
  --expirationdate > getdate() --expiration date is in the future
  --AND purchases.latestperiodistrialperiod is true --free trials only
GROUP BY 1
)

, results as (
  SELECT
    pop.experiment_id
  , pop.entity_id
  , pop.variant
  , pop.entered_at
  , MAX(CASE WHEN events.entityid IS NOT NULL THEN 1 ELSE 0 END) AS outcome
  FROM %(table_name)s AS pop
  LEFT JOIN subscriber_data AS events
  ON
    events.entityid = pop.entity_id
    AND events.first_creation_day >= date_trunc('day', pop.entered_at)
    --AND events.first_creation_day >= '%(ds)s' :: timestamp - interval '6 days'
  WHERE pop.entered_at <= '%(ds)s' :: TIMESTAMP
  GROUP BY 1, 2, 3, 4
)

SELECT
  experiment_id
, variant
, '%(metric_name)s' AS metric_name
, 'PROPORTIONAL' AS metric_type
, 'any' AS segment
, '%(ds)s'::TIMESTAMP AS day
, SUM(outcome) AS numerator
, COUNT(entity_id) AS denominator
, SUM(outcome)::FLOAT / COUNT(entity_id) AS mean
, STDDEV(outcome) AS standard_deviation
FROM results
GROUP BY 1,2,3,4,5,6
